[Unit]
Description=ATArchiverCSC Service
PartOf=at-archiver.service
After=at-archiver.service docker.service

[Service]
Type=simple
User=ARC
WorkingDirectory=/home/ARC
ExecStart=/home/ARC/dm_iip_deploy/bin/run_atarchiver.sh

[Install]
WantedBy=at-archiver.service
